main{
  display: flex;
  justify-content: center;
}

body {
  background-color: #1b191c;
}

.container{
  width: 800px;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.c-layer{
    overflow: hidden; /* important */
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: auto%;
}

.c-layer-2 {
    margin-bottom: 500px;
    width: 100%;
    height: auto%;
}

.image {
  margin:0;
  padding:0;
  width: 100%; /* same as container*/
  height:100%;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    color: #934946; 
    margin-bottom: 5px;
    margin-top: 10px;
  }

p, label { color: #EEEEEE; font-family: 'Muli', sans-serif; margin-bottom: 15px; }

#instruct {
  line-height: 130%;
}

a:visited {
  color: #EEEEEE;
}

a:link {
  color: #EEEEEE;
}

.notes {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.button, .button2 {

border:1px solid #86312e;
	box-shadow:inset 0px 7px 0px -24px #86312e;
	background-color:#86312e;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#EEEEEE;  ;
	font-family:Arial;
	font-size:15px;
	padding:6px 16px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#D65A31;
}


.input {
  margin-bottom: 10px;
}
